<div class="top-image">
  <h1 class="app-title">RUNNER'S PLACE</h1>
  <div class="copy">
    <h3><strong>「ランニングで、つながる。」</strong></h3>
    <div class="lead">
      RUNNER'S PLACE はランナーのためのコミュニケーションサービスです<br>
        練習記録の管理・共有に加え、練習会の投稿や参加申請が可能です
    </div>
    <div class="topbtn">
      <% unless current_user %>
      <%= link_to "新規登録", new_user_registration_path, class: "topbtn__item" %>
      <%= link_to "ログイン", new_user_session_path, class: "topbtn__item" %>
      <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "topbtn__item" %>
    <% end %>
    </div>
  </div>
</div>